.footer{
    display: flex;
    width: 95%;
    padding: 0 2.5%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--baseo);
    border-bottom: 10px solid var(--base);
    flex-wrap: wrap;
}
.footer a{
    padding: 20px 30px;
    background-color: var(--blanco);
    border-radius: 80px;
    color: black;
    transition: 1s;
}
.footer img{
    width: 100px;
    padding: 20px;
    border-radius: 500px;
}
.footer a:hover{
    background-color: var(--baseo);
}
@media(max-width:800px){
    .footer{
        flex-direction: column;
        text-align: center;
    }
    .footer a{
        margin: 10px;
    }
}